.product-container {
    position: relative;
}

.product-container:hover .wishlist-icon,
.product-container:hover .add-to-cart-btn {
    opacity: 1;
}

.wishlist-icon,
.add-to-cart-btn {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}