.vanilla-indicators {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
}

.vanilla-indicators.vanilla-active {
    width: 1.875rem;
    height: 0.5rem;
    background-color: #ffffff;
}